[Unit]
Description=Central Telegram Bot
After=network.target

[Service]
ExecStart=/opt/central_bot/central_bot
WorkingDirectory=/opt/central_bot
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
