[Unit]
Description=WebSocket Dropbear
After=network.target

[Service]
ExecStart=/usr/local/bin/ws-dropbear 2095
Restart=always
RestartSec=3
User=root
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
