[Unit]
Description=Websocket-Ovpn
After=network.target

[Service]
ExecStart=/usr/local/bin/ws-ovpn -p 2082
Restart=always
RestartSec=3
User=root
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
