[Unit]
Description=WebSocket OpenSSH
After=network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ws-openssh -p 8080
Restart=on-failure
RestartSec=2s
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
