[Unit]
Description=WebSocket Stunnel
After=network.target

[Service]
ExecStart=/usr/local/bin/ws-stunnel -p 700
Restart=always
User=root
Type=simple

[Install]
WantedBy=multi-user.target
